<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/about">About</a></li>
    <!-- <li><a ng-href="#">Contact</a></li> -->
  </ul>
  <h3 class="text-muted">GadCalc</h3>
</div>

<div class="alert alert-danger">

<!-- <div class="alert alert-warning alert-dismissable"> -->
  <!-- <button type="button" class="close"  aria-hidden="true">&times;</button> -->
  <strong>Warning!</strong> This software comes with no warranty and all calculations should <strong>always</strong> be verified for accuracy. Use at your own risk. Please refer to agent specific prescribing information for details. 
</div>
<!-- <div class="well">
    <h3>About Gadolinium Contrast Agent Calculator!</h3>
    <p class="lead">Don't fuck up math anymore...</p>
</div> -->
<div class="row marketing">
  <div class="col-lg-12">
    <p>This application was commissioned by <a href="https://www.radiology.wisc.edu/people/facultyContent.php?vaultID=47">Howard Rowley, M.D.</a> and <a href="https://www.radiology.wisc.edu/people/facultyContent.php?vaultID=46">Scott Reeder, M.D., Ph.D.</a> at the University of Wisconsin, Madison and was built by <a href="http://joerowley.net">Joe Rowley</a> using Yeoman, Bootstrap, and AngularJS.</p>
    <strong>Assumptions:</strong> standard approved dose, normal renal function, and no contraindications
                      
  </div>
  <div class="row">

  <div class="col-lg-12">

    <h4>Forumlation and Dose Calculation Data </h4>
    <table class="table">
                    <thead>
                      <tr>
                        <th>Brand Name <br></th>
                        <th>Generic Name <br> </th>
                        <th>Formulation <br><small> mmol/ml</small></th>
                        <th>Approved Dose <br><small>mmol/kg </small></th>
                        <th>Approved Dose <br><small>ml/kg </small> </th>
                        <!-- <th>User Adjusted Dose <br><small>mmol/kg </small></th> -->
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="val in drugs">
                        <td>{{val[0]}}</td>
                        <td>{{val[1]}}</td>
                        <td>{{val[2]}}</td>
                        <td>{{val[3]}}</td>
                        <td>{{val[4]}}</td>
                        <!-- <td>{{val[5]}}</td> -->
                      </tr>
                    </tbody>
                  </table> 
    <h4>Equation</h4>
    <div class="row">
      <span style="margin: 15px;" mathjax-bind="formulaGeneric"></span> 
      <div><br>
      <span style="margin: 15px;" mathjax-bind="formula"></span> 
      </div>
      

    </div>
                        
  </div>
  </div>
</div>
</div

<div class="footer">
  <!-- <p>♥ from the Yeoman team</p> -->
</div>
